<div class="card mb-3">
  <h2 class="card-header h4">
    Favorited Brand #<%= favorited_brand.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Brand</dt>
      <!-- Display brand_id start -->
      <dd>
        <% if @favorited_brand.user.present? %>
          <%= link_to favorited_brand.user, favorited_brand.user %>
        <% end %>
      </dd>
      <!-- Display brand_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back favorited_brand, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link favorited_brand start -->
      <div class="col">
        <%= link_to edit_favorited_brand_url(favorited_brand), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link favorited_brand end -->

      <!-- Delete link favorited_brand start -->
      <div class="col">
        <%= link_to favorited_brand, method: :delete, data: { confirm: "Do you really want to delete this favorited_brand?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link favorited_brand end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(favorited_brand.updated_at) %> ago
  </div>
</div>
