<% was_validated = favorited_brand.errors.any? %>

<%= form_with(model: favorited_brand, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for brand_id start -->
  <div class="form-group">
    <% brand_class = "form-control" %>
    <% brand_was_invalid = favorited_brand.errors.include?(:brand) %>

    <% if was_validated %>
      <% if brand_was_invalid %>
        <% brand_class << " is-invalid" %>
      <% else %>
        <% brand_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :brand_id %>
    <!-- Input for brand_id start -->
    <%= f.collection_select :brand_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for brand_id end -->
    <% if brand_was_invalid %>
      <% favorited_brand.errors.full_messages_for(:brand).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for brand_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
